.favoriteBtn:hover{
  color: #fff;
}

.addCartBtn:hover{
  font-weight: bold;
}

.topBtn{
  position: fixed;
  right: 8px;
  bottom: 32px;
  display: none;
  transition: 1s;
  color: $primary;
  border: 1px solid $primary;
  cursor: pointer;
  &:hover{
    color: #fff;
    background-color: $primary;
  }
  @media (min-width: 992px) {
    right: 12px;
    bottom: 32px;
  }
}

.btn-light{
  background-color: $light;
  &:hover{
    background-color: $primary;
    color: #fff;
  }
}

.btn-secondary, .btn-primary{
  color: #fff;
}

.subNavBtn{
  font-size: $font-size-base;
  @media (min-width: 992px) {
    padding: .75rem 1rem;
    border-color: transparent;
    &:hover{
      color: $secondary;
      border-bottom: 1px solid $secondary;
    }
  }
  &.active{
    color: $secondary;
    border-bottom: 1px solid $secondary;
  }
}
