.progressLine{
  border-top: 1px solid #dee2e6;
  margin-top: 8px;
  width: 32px;
  @media (min-width: 992px) {
    width: 64px;
  }
}

.btn-light{
  background-color: #FDFAF6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  &:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 4px 4px inset;
  }
}

.btn-secondary{
  color: #fff;
}

.main{
  @media (min-width: 992px) {
    min-height: calc(100vh - 56px - 58px - 24px)
  }
}

