.progressLine{
  border-top: 1px solid #dee2e6;
  margin-top: 8px;
  width: 32px;
  @media (min-width: 992px) {
    width: 64px;
  }
}

.main{
  min-height: calc(100vh - 48px - 80px);
  margin-top: 80px;
  @media (min-width: 992px) {
    min-height: calc(100vh - 40px - 80px);
  }
}

.sectionTitle{
  margin-top: 90px;
  text-align: center;
}

.nabTab .nav-link{
  border: none;
  border-bottom: 1px solid $gray-400;
  background-color: $light;
  &.active{
    border-width: 3px;
    border-color: $primary;
  }
}

.progressInfo{
  color: rgba($primary, .5);
}

.progressFocus{
  background-color: $primary;
  color: #fff;
}

.tag{
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 1010;
  font-size: 14px;
  background-color: $primary;
  border: 1px solid #fff;
  border-left: none;
  color: #fff;
  padding: 0 .25rem;
  @media (min-width: 992px) {
    font-size: 24px;
    top: 8px;
    padding: 0 .75rem;
  }
}