img{
  object-fit: cover;
}

.squareImg{
  width: 64px;
  height: 64px;
}

.productImg{
  height: 80px;
}

.editImg{
  height: 320px;
}

.bgImg{
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  .bgCover{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.1);
    position: absolute;
  }
}

.cartImg{
  height: 160px;
  width: 100%;
  @media (min-width: 992px) {
    height: 184px;
  }
}

.sectionBg{
  background-size: cover;
  height: 210px;
  @media (min-width: 992px) {
    height: 500px;
  }
}

.homeImgs{
  height: 218px;
  @media (min-width: 992px) {
    height: 408px;
  }
}

.cardImg{
  height: 112px;
  width: 100%;
  @media (min-width: 992px) {
    height: 144px;
  }
}

.iconImg{
  width: 24px;
  height: 24px;
}

.largeImg{
  height: 200px;
  @media (min-width: 992px) {
    height: 600px;
  }
}

.tagImg{
  width: 120px;
  position: absolute;
  right: -128px;
  bottom: 0;
  transform: rotate(20deg);
  animation-name: 'shake';
  animation-duration: 1s;
  animation-iteration-count:infinite;
}

.arrowImg{
  bottom: -15px;
  animation-duration: 1.5s;
  animation-iteration-count:infinite;
  animation-name: 'moveDown';
  @media (min-width: 992px) {
    bottom: -20px;
    animation-name: 'moveDown-md';
  }
}