.vh100{
  height: 100vh;
}

.bg-center{
  background-position: center;
}

.bg-cover{
  background-size: cover;
}

.fontSizeS{
  font-size: $font-size-base * 0.75;
}

.fontSizeM{
  font-size: $font-size-base * 1.5;
}
.fontSizeL{
  font-size: $font-size-base * 1.75;
}

.d-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fontSize-lg-M{
  @media (min-width: 992px){
    font-size: $font-size-base * 1.5;
  }
}
.fontSize-lg-L{
  @media (min-width: 992px){
    font-size: $font-size-base * 3;
  }
}

.zindexTop{
  z-index: $zindex-sticky;
}

.text-strike{
  text-decoration: line-through;
}





