.vh100{
  height: 100vh;
}

.bg-center{
  background-position: center;
}

.bg-cover{
  background-size: cover;
}

.fontSizeM{
  font-size: $font-size-sm;
}
.fontSizeL{
  font-size: $font-size-lg;
}

.text-strike{
  text-decoration: line-through;
}




